.user-dashboard-card-info {
  display: flex;
  flex-direction: column;
}

.user-dashboard-card-body {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.user-dashboard-card-badge {
  margin-bottom: 8px;
  display: flex;
  width: max-content;
}

.user-dashboard-card-cta {
  width: 100%;
}
