.user_dashboard-filter {
  display: flex;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media (min-width: 600px) {
    flex-direction: row;
  }

  input {
    flex-grow: 1;
  }

  .user_dashboard-search-input {
    padding: 16px;
    border-radius: 20px;
    border: none;
  }
}

.user_dashboard-title {
  text-align: center;
  font-size: 60px;
  .user_dashboard-title-brand {
    color: var(--brand-main);
    text-align: center;
  }
}

.user_dashboard--results {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.user_dashboard-header {
  width: 100%;
  margin-bottom: 35px;
}

@media (min-width: 600px) {
  .user_dashboard-header {
    width: 80%;
    place-self: anchor-center;
  }
}
