.badge {
  display: inline-block;
  padding: 8px 16px;
  font-weight: 500;
  font-size: 12px;
  border-radius: 8px;
  border: none;
  background-color: transparent;
  font-family: inherit;
  line-height: 1;
}

button.badge {
  cursor: pointer;
}

.badge--admin {
  background-color: #003569;
  color: white;
}

.badge--editor {
  background-color: #269085;
  color: white;
}

.badge--viewer {
  background-color: #5993b9;
  color: white;
}

.badge--guest {
  background-color: #9f009f;
  color: white;
}

.badge--deactivated {
  background-color: #ffffff;
  color: #292929;
}
