.button {
  padding: 0px 30px;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
  line-height: 1;
  outline: none;
  font-family: inherit;
  font-size: initial;
}

.button--primary {
  background-color: var(--brand-main);
}

/* Size variants */
.button--m {
  padding: 16px 30px;
}

.button--l {
  padding: 30px 30px;
}
