:root {
  --background: #eee;
  --content: #222;

  --primary-text: #63666a;
  --secondary-text: #1b2134;

  --brand-main: #fb6232;

  --font-brand: "Poppins", sans-serif;
}

body {
  background-color: var(--background);
  color: var(--content);
  font-family: var(--font-brand);
  font-size: 2rem;
  place-content: center;
  max-width: clamp(600px, 100%, 80%);
  margin: auto;
  padding: 0px 5px;
  padding-top: 5px;
}

@media (min-width: 600px) {
  body {
    padding-top: 75px;
  }
}

input,
a {
  font-family: var(--font-brand);
}

a {
  color: var(--brand-main);
}

h1,
h2,
h3,
p {
  font-size: inherit;
  padding: 0;
  margin: 0;
}

.title-m {
  font-size: 24px;
  line-height: 1.3;
  font-weight: 500;
}

.text-l {
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
}

.text-m {
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
}

.text-m-medium {
  font-size: 14px;
  line-height: 1.7;
  font-weight: 500;
}

.text-s {
  font-size: 12px;
  line-height: 1.7;
  font-weight: 500;
}

.text-s-light {
  font-size: 12px;
  line-height: 1.7;
  font-weight: 300;
}

.font-color-primary {
  color: var(--primary-text);
}
.font-color-secondary {
  color: var(--secondary-text);
}
.font-color-brand {
  color: var(--brand-main);
}
