:root {
  --background: #eee;
  --content: #222;

  --primary-text: #63666a;
  --secondary-test: #1b2134;
  --brand-main: #fb6232;
}

body {
  background-color: var(--background);
  color: var(--content);
  font-family: "Poppins", sans-serif;
  display: grid;
  font-size: 2rem;
  margin: 0;
  min-height: 100vh;
  place-content: center;
}

.title-m {
  font-size: 24px;
  line-height: 1.3;
  font-weight: 500;
}

.text-l {
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
}

.text-m {
  font-size: 14px;
  line-height: 1.7;
}

.text-m-medium {
  font-size: 14px;
  line-height: 1.7;
  font-weight: 500;
}

.text-s {
  font-size: 12px;
  line-height: 1.7;
  font-weight: 500;
}

.text-s-light {
  font-size: 12px;
  line-height: 1.7;
  font-weight: 300;
}
